{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'statsapp/css/home.css' %}">
</head>
<body>
    <!-- All main content goes here-->
    <div id="container">
        <div id="stat_list">
            <div id="interaction_ctrl_panel">
                <a href="{% url 'delete' %}" class="interaction_item">
                    <svg class='interaction_svg' xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="maroon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                    </svg>
                </a>
                <a href="{% url 'create' %}" class="interaction_item">
                    <svg class="interaction_svg" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="green" >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                    </svg>
                </a>
            </div>
            <div id="dynamic_stats">
                <!-- This will be replaced with stats from the API-->
            </div>
        </div>
    </div>
    <!-- Insert these variables as js files can't load these. -->
    <script src="{% static 'statsapp/js/liststats.js' %}"></script>
    <script>
        const base_url = window.location.origin;
        initialize_list(base_url)
    </script>
</body>
</html>
